<table>
    <tr>
        <td><a href="https://leahsaph123.github.io/tri3_individ">Home</a></td>
        <td><a href="https://github.com/leahsaph123/tri3_individ">Individual Repo</a></td>
        <td><a href="https://github.com/parkjessie/LAJ">Group Repo</a></td>
        <td><a href="https://leahsaph123.github.io/tri3_individ/week0code">Week 0 Code </a></td>
        <td><a href="https://leahsaph123.github.io/tri3_individ/week1code">Week 1 Code </a></td>
        <td><a href="https://leahsaph123.github.io/tri3_individ/week2code">Week 2 Code </a></td>
        <td><a href="https://leahsaph123.github.io/tri3_individ/code">Week 3 Code/Crossover</a></td>
        <td><a href="https://leahsaph123.github.io/tri3_individ/CBnotes">CB notes</a></td>

    </tr>
</table>
